@import url('https://fonts.cdnfonts.com/css/twentieth-century-for-kenmore');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Twentieth Century for Kenmore', sans-serif;
}

#logo {
    width: 220px;
    height: auto;
}

#img-product{
    width: 582.400px;
    height: 884.400px;
    padding: 10px;
}

#pic-product{
    width: 78.800px;
    height: 115.200px;
}

#main-con{
    width: 1420px;
    height: 1078.900px;
    padding: 0 40px;
}

#hambur ul li {
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    line-height: 25px;
}

.thumbnail {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.thumbnail:hover {
    border: 2px solid #000;
}